<nav class="navbar navbar-light shadow-sm w-100 mb-20">
    <div class="container justify-content-between px-12">
        <img width="45" height="45" src="assets/images/vodafone-logo.png" loading="lazy" alt="vf_logo">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button
                type="button"
                class="btn btn-outline-secondary"
                id="usersDropdown"
                ngbDropdownAnchor
                (focus)="myDrop.open()"
            >
                <img width="25" height="25" src="../../../../assets/images/user-dummy.webp" loading="lazy" alt="dummy-user">
                {{ (userService.selectedUser$ | async)?.username || 'Users List' }}
            </button>
            <div ngbDropdownMenu aria-labelledby="usersDropdown">
                <button (click)="onSelectUser(user)" *ngFor="let user of usersList$ | async" ngbDropdownItem>{{ user.username }}</button>
            </div>
        </div>
    </div>
  </nav>